<% if @info && @info["valid"] %>
  <p>Hi, <%= @info["data"]["name"]["first"] %>! Here's your schedule:</p>
  <table>
    <tr>
      <th>Class Name</th>
      <th>Instructor</th>
      <th>Period</th>
      <th>Id</th>
    </tr>
    <% sections(@info["data"]["id"]).sort_by(&:period).each do |section| %>
      <tr>
        <td><%=section.course_name%></td>
        <td><%="#{section.instructor.name[:first].chars.first}. #{section.instructor.name[:last]}"%> </td>
        <td><%=section.period%></td>
        <td><%=section.id%></td>
      </tr>
    <% end %>
  </table>
  <p><a href="/logout">log out</a></p>
<% else %>
<p>
<a href="<%=clever_auth_url%>">
  log in with clever
</a>
</p>
<% end %>
